@model NosTRAILgic.Models.TrailMeetup

@{
    ViewBag.Title = "Details";
}


<div>
    <h2>Trail Details - @Html.DisplayFor(model => model.Name)</h2>
</div>

<div>
    <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Index", "TrailMeetup")'">Join Trail</button>
</div>

<div>
    <hr />
    
    <div id="map_canvas" style="width: 1000px; height: 300px;"></div>

    <hr />

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.CreatorID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Limit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Limit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrailMeetupID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.TrailMeetupID }) |
    <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Index", "TrailMeetup")'">Back to Trail Index</button>
</p>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    window.onload = initialize;

    function initialize() {

        var mapOptions = {
        //    center: new google.maps.LatLng(1.4038, 103.7941),
        //    center: new google.maps.LatLng(1.3385674, 103.7059549),
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("map_canvas"),
          mapOptions);

        //// create a marker
        //var latlng = new google.maps.LatLng(1.4038, 103.7941);
        //var marker = new google.maps.Marker({
        //    position: latlng,
        //    map: map,
        //    title: 'My Place'
        //});

        var geocoder;
        geocoder = new google.maps.Geocoder();

        var googleMapAddress = "";

        // Code to take Trail Input of Location
        var trailInput = "@Url.Content(Model.Location)"

        // Split the Trail Input of Location based on COMMA into different location
        var trailArray = trailInput.split(',');

        for (var i = trailArray.length; i > 0 ; i--)
        {
            googleMapAddress = trailArray[i - 1];

            if (geocoder) {
                geocoder.geocode({ 'address': googleMapAddress }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
                            map.setCenter(results[0].geometry.location);

                            var infowindow = new google.maps.InfoWindow(
                                {
                                    content: '<b>' + googleMapAddress + '</b>',
                                    size: new google.maps.Size(150, 50)
                                });

                            var marker = new google.maps.Marker({
                                position: results[0].geometry.location,
                                map: map,
                                title: googleMapAddress
                            });

                            google.maps.event.addListener(marker, 'click', function () {
                                infowindow.open(map, marker);
                            });

                        } else {
                            alert("No results found");
                        }
                    } else {
                        alert("Geocode was not successful for the following reason: " + status);
                    }
                });
            }
        }
    }
</script>