@model IEnumerable<NosTRAILgic.Models.Statistic>
@{
    ViewBag.Title = "Stats";
}
<h2>Statistical Page</h2>

<div class="pull-left">
    @Html.Label("Recommended location for ")
    @Html.DropDownList("ddl_Month", null, new { onchange = "document.location.href='/Stats/Index?valMonth='+this.value;" })
</div>

<br />
<table>
    <tr>
        @foreach (var item in @ViewBag.statsByTopSearchLocation)
        {
            <th><img src="@item.Image" alt="@item.Image" /></th>
        }
    </tr>
    <tr>
        @foreach (var item in @ViewBag.statsByTopSearchLocation)
        {
            <td>@item.Name</td>
        }
    </tr>
</table>

<hr />

<div id="ChartTopTrail"></div>
<hr />

<form>
    Search where other have visited: @Html.TextBox("searchKeyword", null, new { @placeholder = "Location", })
    <input type="submit" value="Submit">
</form>
<div id="ChartSearchLocation"></div>

<!-- Passing to JS -->
<p hidden id="autoCompleteURL" data-url='@Url.Action("GetLocation")'></p>

<div id="line_visitor"></div>

<hr />

<div class="pull-left">
    @Html.Label("Changes to vistior based on year")
    @Html.DropDownList("ddl_Category", null, new { onchange = "document.location.href='/Stats/Index?valCategory='+this.value"})
</div>

<br />
<br />

<div id="ChartCategory"></div>

@section Scripts
 {
    @Scripts.Render("~/Content/themes/base/css")
    <script src="@Url.Content("~/Scripts/jquery-2.2.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")" type="text/javascript"></script>
}

@Html.Partial("_Script")