@model IEnumerable<NosTRAILgic.Models.Statistic>
@{
    ViewBag.Title = "Trail Statistics";
}
<h2>Statistical Page</h2>

<div class="pull-left">
    @Html.Label("Recommended location for ")
    @Html.DropDownList("ddl_Month", null, new { onchange = "document.location.href='/Stats/Index?valMonth='+this.value;" })
</div>

<br /><br />
<table align="center">
    <tr>
        @foreach (var item in @ViewBag.statsByTopSearchLocation)
        {
            <th width="150px"><img src="@item.Image" onError="this.onerror=null;this.src='/images/no_image_available.jpg';" style="width:150px; height:150px;"/></th>
            <th>&nbsp;</th>
        }
    </tr>
    <tr>
        @foreach (var item in @ViewBag.statsByTopSearchLocation)
        {
            <td width="150px" align="center" style="vertical-align: top;">@item.Name</td>
            <td>&nbsp;</td>
        }
    </tr>
</table>

<hr />

<div id="ChartTopTrail"></div>
<hr />

<form>
    Search where other have visited: @Html.TextBox("searchKeyword", null, new { @placeholder = "Location", })
    <input type="submit" value="Submit">
</form>
<div id="ChartSearchLocation"></div>

<!-- Passing to JS -->
<p hidden id="autoCompleteURL" data-url='@Url.Action("GetLocation")'></p>

<div id="line_visitor"></div>

<hr />

<div class="pull-left">
    @Html.Label("Changes to visitor based on year")
    @Html.DropDownList("ddl_Category", null, new { onchange = "document.location.href='/Stats/Index?valCategory='+this.value"})
</div>

<br />
<br />

<div id="ChartCategory"></div>

@section Scripts
 {
    @Scripts.Render("~/Content/themes/base/css")
    <script src="@Url.Content("~/Scripts/jquery-2.2.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")" type="text/javascript"></script>
}

@Html.Partial("_Script")