@model IEnumerable<NosTRAILgic.Models.ProfileViewModel>

@{
    ViewBag.Title = "Profile";
}

<h2>Profile: </h2>

<h2>List of Trails Meetup created: </h2>

<table border="1">

    <tr>
        <td>TrailMeetup Name</td>
        <td>Date</td>
        <td>Time</td>
        <td>Maximum Participants</td>
    </tr>
    @foreach (var item in Model)
    {
        foreach (var row in item.enumerableCreatedTrails)
        {
            <tr>
                <td>@row.Name</td>
                <td>@row.Date.ToShortDateString()</td>
                <td>@row.TimeFrom.ToShortTimeString() - @row.TimeTo.ToShortTimeString()</td>
                <td>@row.Limit</td>
            </tr>
        }
    }

</table>

<h2>List of Trails Meetup joined: </h2>

<table border="1">

    <tr>
        <td>Join Trail ID</td>
        <td>Trail Meetup ID</td>
        <td>User ID</td>
    </tr>
    @foreach (var item in Model)
    {
        foreach (var row in item.enumerableJoinedTrails)
        {
            <tr>
                <td>@row.JoinTrailID</td>
                <td>@row.TrailMeetupID</td>
                <td>@row.UserID</td>
            </tr>
        }
    }

</table>
